$min : 40px;

body, html {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

body {
	font-family:sans-serif;
	font-size:12px;
}

.messages, #input {
	position: absolute;

}
.messages {
	top:0;
	left:0;
	right:0;
	bottom:100px;
	background:#ddd;
	padding:0;
	border-bottom:1px solid #ccc;
	overflow-x:auto;

	.message {
		min-height: $min;
		height: auto;
		position: relative;
		border-bottom:1px solid #ccc;
		background:#fff;
		
		.avatar, .content {
			position: absolute;
		}

		.avatar {
			width: $min;
			height: $min;
			background:#aaa;
			top:0;
			left:0;
		}

		.content {
			background:#fff;
			top:0;
			padding:4px;
			right:0;
			left:$min + 2px;
		}
	}
}


#input {
	bottom:0;
	left:0;
	right:0;
	height:100px;
	background:#333;

	#chat-message {
		width:100%;
		height: 100%;
		border:0;
		margin:0;
		padding:0;
	}
}

