<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cache-control" content="no-cache" />
	<title>shsh</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/comp.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
</head>

{% raw %}
<script id="message-template" type="text/x-handlebars-template">
<div class="message">
	<p><strong>{{ name }} </strong></p>
	{{{ content }}}
</div>
</script>

{% endraw %}


<body>
	    <div class="messages">
		</div>
	
		<div id="input">
			<textarea name="22" id="chat-message" cols="30" rows="2"></textarea>
		</div>

<script src="{{ url_for('static', filename='js/jquery.js') }} "></script>
<script src="{{ url_for('static', filename='js/kibo.js') }} "></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }} "></script>
<script src="{{ url_for('static', filename='js/codemirror.js') }} "></script>
<script src="{{ url_for('static', filename='js/Markdown.Converter.js') }} "></script>
<script src="{{ url_for('static', filename='js/mode/markdown/markdown.js') }} "></script>
<script src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }} "></script>
<script src="{{ url_for('static', filename='js/skulpt.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skulpt-stdlib.js') }}"></script>
<script src="{{ url_for('static', filename='js/rainbow-custom.min.js') }}"></script>


<script src="{{ url_for('static', filename='js/main.js') }} "></script>
</body>
</html>